@charset "utf-8";
/* CSS Document */

body {
	width:100%;
	background: #000000;
}


h1 {
	color: #FF0000;
	font-family: slant, Verdana, sans-serif;
	text-align:center;
}

h2{
	color: #232323;
	font-family: Arial, Verdana, sans-serif;
	text-shadow: 2px 2px 2px #6C6C6C;

	

}
	
p{
	width:90%;
	color: #FFFFFF;
	margin:5%;
	
}

a{
	diplay: inline-block;
	margin-left: 40px;
	text-decoration: none;
	font-size: 40px;
	color: #232323;
	text-align:center;
	text-shadow: 2px 2px 2px #6C6C6C
}

a:hover{
	color:#FF0000;
}

@font-face {
    font-family: 'SLANT';
    src: url('../fonts/SLANT.woff');
}