@charset "utf-8";
/* CSS Document */

body {
	width:100%;
	background: #000000;
}


h1 {
	color: #232323;
	text-align:center;
	font-family: Arial, Verdana, sans-serif;
	text-shadow: 2px 2px 2px #6C6C6C;
}

h2{
	color: #232323;
	font-family: Arial, Verdana, sans-serif;
	text-shadow: 2px 2px 2px #6C6C6C;

}
	
p{
	width:90%;
	color: #FFFFFF;
	margin:5%;
	
}